[submodule "COVID-19"]
	path = data_sources/COVID-19
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "data_sources/nyt/covid-19-data"]
	path = data_sources/nyt/covid-19-data
	url = https://github.com/nytimes/covid-19-data.git
[submodule "data_sources/metadata/ISO-3166-Countries-with-Regional-Codes"]
	path = data_sources/metadata/ISO-3166-Countries-with-Regional-Codes
	url = https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes
